$bg-body: #292929;
$bg-sidebar: #131313;
$bg-menu: #232323;

// text colors scss
$text-dark-gray: rgba(255, 255, 255, 0.5);
$text-white: rgba(255, 255, 255, 0.87);

// border scss
$border-color-1: #cbcbcb;
// font-family
$font-family: "SF Pro Display";
