@import "../../responsive/breakpoints";
.active {
  transform: translateX(0px) !important;
}
.sidebar_wrapper {
  width: 13%;
  border-radius: 15px;
  background: $bg-sidebar;
  padding: 25px;
  font-family: $font-family;
  float: left;
  position: relative;
  @include breakpoints(smLaptop) {
    width: 16%;
  }
  @include breakpoints(semiTablet) {
    width: 20%;
  }
  @include breakpoints(tablet) {
    width: 200px;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0;
    height: 100%;
    z-index: 999;
    overflow: auto;
    transition: all 0.3s ease-in-out;
    transform: translateX(-250px);
  }
  .sidebar_inner {
    .sidebar_content {
      .sidebar_header {
        h3 {
          color: $text-dark-gray;
          font-size: 20px;
          font-weight: 300;
          text-transform: capitalize;
          border-bottom: 1px solid $border-color-1;
          line-height: 30px;
        }
        span {
          color: $text-white;
          font-size: 13px;
          position: absolute;
          top: 10px;
          right: 10px;
          display: none;
          @include breakpoints(tablet) {
            display: block;
          }
        }
      }
      .menu_list {
        margin-top: 40px;
        .dropdown_menu {
          background: $bg-menu;
          border-radius: 4.68775px;
          margin: 15px 0;
          padding: 10px;
          color: $text-white;
          overflow: hidden;
          .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
          }
          .content {
            font-family: $font-family;
            padding-left: 10px;
            opacity: 0;
            height: 0;
            transition: all 0.3s ease-in-out;
            ul {
              list-style: none;
              li {
                font-size: 13px;
                padding: 8px 0;
              }
            }
          }
          .openDropdown {
            opacity: 1;
            transition: all 0.3s ease-in-out;
            height: 160px;
            overflow: auto;
            margin-top: 10px;
            &::-webkit-scrollbar {
              width: 4px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
              background: #8e8e8e5e;
              border-radius: 50px;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
              background: #747474;
              border-radius: 50px;
            }
          }
        }
      }
    }
  }
}
